numpy
keras
gensim
tensorflow
keras-nlp
pandas
jupyter
transformers
matplotlib
textblob
spacy-transformers
spacy
spacy[transformers]
np_utils
numpy
scikit-learn
datasets
swifter
keras_preprocessing
textblob
evaluate
tensorflow-text>=2.11